.mybtns {
    margin: 20px 0;
}

#myslider {
    width: 100%;
    margin-bottom: 20px;
}
#myoutput {
    font-weight: bold;
}

.coral {
    background-color: coral;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgb(248, 168, 138);
}

.violet {
    background-color: violet;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgb(235, 177, 235);
}

.green {
    background-color: limegreen;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgb(120, 199, 120);
}

.yellow {
    background-color: yellow;
    padding: 10px;
    margin: 5px;
    border: 2px solid rgb(250, 250, 125);
}

/* mobile vertical */
.row {
    display: grid;
    grid-template-columns: 1fr;
}

/* mobile horizontal */
@media (min-width: 576px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* tablet */
@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* desktop */
@media (min-width: 992px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* large desktop */
@media (min-width: 1200px) {
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

