.mybtns {
    margin: 20px 0;
}

#myslider {
    width: 100%;
    margin-bottom: 20px;
}
#myoutput {
    font-weight: bold;
}

.coral {
    background-color: coral;
    padding: 10px;
    margin: 5px;
}

.violet {
    background-color: violet;
    padding: 10px;
    margin: 5px;
}

.green {
    background-color: limegreen;
    padding: 10px;
    margin: 5px;
}

.yellow {
    background-color: yellow;
    padding: 10px;
    margin: 5px;
}